:global {
  .vtm-container .ant-pro-page-container-children-content {
    // @apply mr-0;
  }

  .ant-card-body {
    padding: 0;
  }
}

.serviceWrapper {
  @apply relative col-span-3 rounded-l-lg bg-white;

  & > div {
    @apply rounded-tl-lg;
  }
}

.collapseBtn {
  @apply cursor-pointer transform z-10 absolute -left-4;

  top: 42%;

  &.expanded {
    transform: translateX(-52.3vw) rotate(-90deg);
  }
}

.card {
  @apply shadow-lg rounded-lg bg-white;

  // width: 270px;  // 不设宽度可以让元素自动铺满格子
  height: 412px;
  border: solid 1px gray;
}

.title {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 10%;
  color: #545454;
  background: #e2f7fb;
  border-bottom: solid 1px gray;
  border-radius: 0.5rem 0.5rem 0 0;

  .title_content {
    position: relative;
    left: 5%;
    font-weight: bold;
    font-size: 12px;
  }
}

.card2 {
  @apply shadow-lg rounded-lg bg-white;

  // width: 960px; // 自动充满格子
  height: 617px;
  border: solid 1px gray;
}

.main {
  min-height: 78vh;
}

.footerContainer {
  width: 60%;
  @apply mt-6 float-right;
}

.statistic {
  margin-top: -10px;
}

.mr4 {
  @apply mr-4;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vd {
  width: 100%;
  height: 90%;
  // width:170px;
  // height:300px;
  object-fit: contain;
}

.vd2 {
  // width: 960px;
  width: 100%; // 使其自动充满
  height: 540px;
  object-fit: fill;
  // width: 100%;
  // height: 100%;
  // object-fit: contain;
}

.card_content {
  display: flex;
  align-items: center;
  height: 90%;
  background-color: #000;
  border-radius: 0 0 0.5rem 0.5rem;
}
.block {
  width: 100%;
  padding: 5px;
  background-color: #d3fcdb;
  border-radius: 5px;
  box-shadow: 0px 1px 1px #ffffcd;
}
